.centerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

th{
    text-align: center;
    border: 1px solid #000;
    padding: .5em;
}

.grey{
    background-color: #aeb5bf;
}

td{
    text-align: center;
    border: 1px solid #000;
    padding: .5em;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oscuro{
    background-color: #d9f5c6;
}
.claro{
    background-color: #f2f5f0;
}